body {
  background-image: url('../images/background.jpg');
  width: 100%;
  height:100%;
  text-align:center;
  /*font-family: 'Acme', sans-serif;*/
  color: #154360  ;
}
h1{
  font-size:50px;
}
p{

  font-size: 25px;
}

button{
  /*font-family: 'Acme', sans-serif;*/
  color: #154360  ;
  font-size: 30px;
  border-radius: 25%;
